<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="esp_tools_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="exes" />
        </assemblyBinding>
    </runtime>
    <userSettings>
        <esp_tools_gui.Properties.Settings>
            <setting name="comport" serializeAs="String">
                <value />
            </setting>
            <setting name="combaud" serializeAs="String">
                <value>115200</value>
            </setting>
        </esp_tools_gui.Properties.Settings>
    </userSettings>
</configuration>